.header{
    height: 150px;
    width: 100%;
    background-image: url("bilder/Namnlöst-1.png");
 
}


.content2{
    height: 400px;
    width: 100%;
    background-color: darkgreen;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas: 
    'Menyitem1' 'Menyitem2' 'Menyitem3' 
    'Menyitem4' 'Menyitem5' 'Menyitem6' 
    'Menyitem7' 'Menyitem8' 'Menyitem9' 

}

.Meny {
    text-align: center;
    vertical-align: middle;
    line-height: 90px;  

}

.Menyitem1{
    background-image: url("bilder/Meny1.png")
}

.Menyitem2{
    background-image: url("bilder/Meny2.png")
}

.Menyitem3{
    background-image: url("bilder/Meny3.png")
}

.Menyitem4{
    background-image: url("bilder/Meny4.png")
}

.Menyitem5{
    background-image: url("bilder/Meny5.png")
}

.Menyitem6{
    background-image: url("bilder/Meny6.png")
}

.Menyitem7{
    background-image: url("bilder/Meny7.png")
}

.Menyitem8{
    background-image: url("bilder/Meny8.png")
}

.Menyitem9{
    background-image: url("bilder/Meny9.png")
}

.content3{
    height: 400px;
    width: 100%;
    background-color: darkgreen;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas: 
    'OmMatenitem1' 'OmMatenitem1'
    'OmMatenitem2' 'OmMatenitem2'
}



.OmMatenitem{
    filter: blur(4px);
    -webkit-filter: blur(4px);
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
    text-align: center;
    vertical-align: middle;
    line-height: 300px;  
    
}

.Bakgrund2 {
    background-image: url("bilder/OmMaten2.jpg");
    
    
}

.Bakgrund1{
    background-image: url("bilder/OmMaten1.jpg");
}


.content{
    height: 400px;
    width: 100%;
    background-color: darkgreen;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas: 
    'griditem1' 'griditem1'
    'griditem2' 'griditem2'

}

.griditem{
    margin-top: 25px;
    margin-left: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
    text-align: center;
    color: white;
    font-size: 25px;
    font-style: oblique;
    vertical-align: middle;
    line-height: 300px; 
    -webkit-transition: 2s;
    transition: 2s; 
}

.griditem:hover {
    width: 300px;
  }


.OmOssBakgrund1{
    background-image: url("bilder/RedigeradHAmburgare-1.png");

}
.OmOssBakgrund2{
    background-image: url("bilder/hamburgare.png");

}

.footer{
    height: 100px;
    width: 100%;
    background-color: gray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas: 
    'item1' 'item1' 'item1'
    'item2' 'item2' 'item2'
    'item3' 'item3' 'item3'
}

.footerItem{
    text-align: center;
    vertical-align: middle;
    line-height: 45px;  
}

@media screen and (max-width: 425px){

.header{
    background-color: springgreen;
    height: 75px;
    width: 100;
}
}

.dropbtn {
    height: 20px;
    width: 20px; 
    background-color: gray;
    background-size: cover; 
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #ddd}


.show {display:block;} 
