/* mobile */

.header{
    width: 100%;
    height: 150px;
    background-image: url("bilder/MenyLiten.png")
}

.content{
    width: 100%;
    height: 655px;
    background-color: darkgreen;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    'griditem' 
    'griditem' 
    'griditem'

}

.griditem{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.OmOssBakgrund1{
    background-image: url("bilder/OmOssMobile1.png")
}

.OmOssBakgrund2{
    background-image: url("bilder/OmOssMobile2.png")
}

.OmOssBakgrund3{
    background-image: url("bilder/OmOssMobile3.png")
}



.footer{
    height: 75px;
    width: 100%;
    background-color: gray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas: 
    'item1' 'item1' 'item1'
    'item2' 'item2' 'item2'
    'item3' 'item3' 'item3'
}

.footerItem{
    text-align: center;
    vertical-align: middle;
    line-height: 35px;  
}

.content2{
    height: 655px;
    width: 100%;
    background-color:darkgreen;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas: 
    'Menyitem1' 'Menyitem2' 'Menyitem3' 
    'Menyitem4' 'Menyitem5' 'Menyitem6' 
    'Menyitem7' 'Menyitem8' 'Menyitem9'
    'Menyitem10' 'Menyitem11' 'Menyitem12' 
    'Menyitem13' 'Menyitem14' 'Menyitem15'  

}

.Meny {
    text-align: center;
    vertical-align: middle;
    line-height: 90px;  
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;

}

.Menyitem1{
    background-image: url("bilder/Meny1.png")
}

.Menyitem2{
    background-image: url("bilder/Meny2.png")
}

.Menyitem3{
    background-image: url("bilder/Meny3.png")
}

.Menyitem4{
    background-image: url("bilder/Meny4.png")
}

.Menyitem5{
    background-image: url("bilder/Meny3.png")
}

.Menyitem6{
    background-image: url("bilder/Meny6.png")
}

.Menyitem7{
    background-image: url("bilder/Meny7.png")
}

.Menyitem8{
    background-image: url("bilder/Meny8.png")
}

.Menyitem9{
    background-image: url("bilder/Meny9.png")
}
.Menyitem10{
    background-image: url("bilder/Meny1.png")
}
.Menyitem11{
    background-image: url("bilder/Meny2.png")
}
.Menyitem12{
    background-image: url("bilder/Meny3.png")
}
.Menyitem13{
    background-image: url("bilder/Meny4.png")
}
.Menyitem14{
    background-image: url("bilder/Meny9.png")
}
.Menyitem15{
    background-image: url("bilder/Meny8.png")
}

}


.content3{

    width: 100%;
    height: 345px;
    background-color: darkgreen;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'OmMatenitem' 
    'OmMatenitem' 
}

.OmMatenitem{
    filter: blur(4px);
    -webkit-filter: blur(4px);
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
}

.Bakgrund2 {
    background-image: url("bilder/Mat1.png");
}

.Bakgrund1{
    background-image: url("bilder/Mat2.png");
}

/* laptop */

@media screen and (min-width: 360px){
    .header{
        height: 150px;
        width: 100%;
        background-image: url("bilder/Namnlöst-1.png");
     
    } 
    

 
}